.card{
    display: flex;
    flex-direction: row;
    background-color:$sub-color;
    padding: 10px;
    border-radius: 10px;
    width: 80%;
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    &-left{
        display: flex;
        flex: 1;
        margin: 10px;
        div{
            margin-left: 10px;
            span{
                color: red;
            }
        }
    }
    &-right{
        @include flex-column;
        justify-content: space-between;
        margin-right: 20px;
    }
    img{
        width: 20%;
        height: 100%;
    }
}
