@import 'button';
@import 'variable';
@import 'mixin';
nav {
    @include flex-center;
    position: fixed;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $main-color;
    z-index: 1000;
    .nav-left {
        display: flex;
        flex-direction: row;
        flex: 10;
        margin: 0;
        img {
            width: 90px;
        }

        ul {
            display: flex;
            list-style-type: none;
            margin: 0;
            margin-left: -50px;

            li {
                padding: 15px;
                a {
                    text-decoration: none;
                    color: $primary-color;
                    font-size: large;
                    text-align: center;
                }

            }

            li:hover {
                background-color: $secondary-color;
            }
        }
    }

    .nav-right {
        @include flex-center;
        flex: 1;
        margin-right: 1%;
        img {
            width: 40px;
            border-radius: 50%;
        }

        div {
            display: flex;
            margin-left: 5px;
            p {
                margin-right: 5px;
                color: $primary-color;
            }
        }
    }

}